@model WebBanHang.EF.products

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Backend/Shared/_Layout.cshtml";
}

<h2>Xóa Sản phẩm</h2>

<h3>Bạn có chắc chắn muốn xóa Sản phẩm này không?</h3>
<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.standard_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.standard_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.list_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.list_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.target_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.target_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reorder_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reorder_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minimum_reorder_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minimum_reorder_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity_per_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity_per_unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discontinued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discontinued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
            @if (String.IsNullOrEmpty(ViewBag.Product.image))
            {
                <img class="bd-placeholder-img card-img-top img-thumbnail" style="width: 100px; height: 100px;" src="~/Content/img/no-photo.png">
            }
            else
            {
                <img class="bd-placeholder-img card-img-top img-thumbnail" style="width: 100px; height: 100px;" src="~/UploadedFiles/ProductImages/@ViewBag.Product.image">
            }
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Products", FormMethod.Post, new { id = "form-delete-product", @class = "btn btn-danger" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" id="btn-delete-product" />
        </div>
    }
    | @Html.ActionLink("Quay về Danh sách Sản phẩm", "Index")
</div>

@section scripts {
<script>
    $(document).ready(function () {
        $('#form-delete-product').submit(function (e) {
            e.preventDefault(); // Ngăn không cho gởi dữ liệu đến Server -> để mình tự xử lý

            // Sử dụng SweetAlert để hiển thị popup confirm
            Swal.fire({
                title: 'Bạn có chắc chắn thực hiện thao tác này không?',
                text: "Không thể phục hồi dữ liệu đã xóa!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đồng ý, tôi xác nhận Xóa!'
            }).then((result) => {
                if (result.value) { // Nếu nhấn Yes
                    // Tiếp tục submit
                    $.ajax({
                        type: "POST",
                        url: "/admin/products/delete/@ViewBag.Product.id",
                        success: function () {
                            // Nếu thành công -> điều hướng về trang Danh sách
                            location.href = "/admin/products";
                        },
                        error: function () {
                            // Nếu thất bại -> hiển thị popup thông báo
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Có lỗi xảy ra! Sản phẩm đang được sử dụng, không được phép xóa!',
                                footer: '<a href="https://nentang.vn">Click vào đây để gọi hỗ trợ</a>'
                            });
                        }
                    });
                }
            })
        });
    });
</script>
}
